Weather Workflow/Weather Workflow.json
{
  "name": "Weather Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f7fd3944-8a7f-4856-a923-39cfef057d7d",
      "name": "When chat message received",
      "webhookId": "88418827-e753-4cf3-82a0-66a5b62e9b5a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful weather assistant. \n\nYou have to use Tools like 'get weather' to answer the user queries related to weather.\n\nAlso greet weather and a thank you note in last."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "dc346305-d07d-4653-afc2-81ed3705efd8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "fe4d10bd-a79a-46e8-aa73-77d759f2ccc3",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "BVW9PzvonWrmvF4Q",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "f2b628ab-51a1-4204-a0ce-e57c4ad494c9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to access current weather information.",
        "workflowId": {
          "__rl": true,
          "value": "VIvqU12sEwdWf8NA",
          "mode": "list",
          "cachedResultName": "get weather"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "weatherapp": "response"
          },
          "matchingColumns": [
            "weatherapp"
          ],
          "schema": [
            {
              "id": "weatherapp",
              "displayName": "weatherapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        208
      ],
      "id": "f6efa449-11d7-4d9b-a2b7-eee0d6c01ffc",
      "name": "get weather"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "643e3e8b-6e59-4e3d-b59e-3d7679dc3d6f",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get weather": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57e4ee4f-ae22-4c2e-8506-0ebfb558bba3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cac9a7a0a63812e41b1e94b1b69e3ffef7529633b7e9b913fb43b82dc581723"
  },
  "id": "lnYT04NzUoNFZ9td",
  "tags": []
}