Potential_Clients/Potential_Clients.json
{
  "name": "Potential_Clients",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.agify.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        16
      ],
      "id": "0b3275de-d748-4585-a81b-7092e588f29d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": " https://api.genderize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        16
      ],
      "id": "d9b1cf49-1220-47c4-b87a-88c19987f20e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": " https://api.nationalize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        16
      ],
      "id": "d25aca69-ec12-4d83-a085-7815fabb44cb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_hWsOPXxogO4LU_xVMeiHGEqLMvK1hUKBJM2hShgNJw",
          "mode": "list",
          "cachedResultName": "Potential_Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hWsOPXxogO4LU_xVMeiHGEqLMvK1hUKBJM2hShgNJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hWsOPXxogO4LU_xVMeiHGEqLMvK1hUKBJM2hShgNJw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Append row in sheet').item.json.keys().length}}",
            "name": "={{ $('Append row in sheet').item.json.name }}",
            "Number": "={{ $('Append row in sheet').item.json.Number }}",
            "Budget": "={{ $('Append row in sheet').item.json.Budget }}",
            "Age": "={{ $('HTTP Request').item.json.age }}",
            "Gender": "={{ $('HTTP Request1').item.json.gender }}",
            "Nationality": "={{ $json.country[0].country_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        304,
        16
      ],
      "id": "ec31a3ac-bf62-44b0-b305-f6c8f0503de3",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OTroMa1tgjJRdnPP",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "abdul.razzaq39390@gmail.com",
        "subject": "New Client",
        "emailType": "text",
        "message": "=Hello Sir,\n\nthere is new client and below are some of the details:\n\nName : {{ $json.name }}\nPhone Number : {{ $json.Number }}\nBudget : {{ $json.Budget }}\n\nAlso, here is some other expected details of the client:\nAge : {{ $json.Age }}\nGender : {{ $json.Gender }}\nNationality : {{ $json.Nationality }}\n\nPlease Contact them, ASAP.\n\nThank you,\nYour AI Agent",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        16
      ],
      "id": "596b8361-341d-4d2e-b4bc-6c1762761341",
      "name": "Send a message",
      "webhookId": "4c517d29-3ec4-4f83-8bb1-b10c9590a9ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "hbIYo1yfWu1BLww0",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Client Data",
        "formDescription": "Please fill out the details to contact with Seller",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "enter your name here",
              "requiredField": true
            },
            {
              "fieldLabel": "Number",
              "fieldType": "number",
              "placeholder": "enter your phone number here",
              "requiredField": true
            },
            {
              "fieldLabel": "Budget",
              "placeholder": "total budget for the project",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -640,
        16
      ],
      "id": "4b004143-2909-4e6e-b2e8-6a8aa3aee321",
      "name": "On form submission",
      "webhookId": "96d8a36e-2ec8-4371-bc77-de559cb8a798"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_hWsOPXxogO4LU_xVMeiHGEqLMvK1hUKBJM2hShgNJw",
          "mode": "list",
          "cachedResultName": "Potential_Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hWsOPXxogO4LU_xVMeiHGEqLMvK1hUKBJM2hShgNJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hWsOPXxogO4LU_xVMeiHGEqLMvK1hUKBJM2hShgNJw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.Name }}",
            "Number": "={{ $json.Number }}",
            "Budget": "={{ $json.Budget }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -464,
        16
      ],
      "id": "a38f39df-9ea5-4cbc-8a5d-1d2a697bae44",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OTroMa1tgjJRdnPP",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25404aeb-ee87-4087-b8da-384156b9f9a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cac9a7a0a63812e41b1e94b1b69e3ffef7529633b7e9b913fb43b82dc581723"
  },
  "id": "jxejTrybPXZr1CN6",
  "tags": []
}