Invoices Extraction/Invoices Extraction Workflow.json
{
  "name": "Invoices Extraction Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lkHZirNEkO2WDErju4EK8c8RO4lrJoVk",
          "mode": "list",
          "cachedResultName": "Tax - Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lkHZirNEkO2WDErju4EK8c8RO4lrJoVk"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        128
      ],
      "id": "29f01da4-8dac-40d4-b6e8-8c8ad7cf787e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOS03K2vJw3lx0uY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-tesseractjs.tesseractNode",
      "typeVersion": 1,
      "position": [
        304,
        48
      ],
      "id": "5af3870e-b6be-4b7a-abb1-400a5413be14",
      "name": "Tesseract"
    },
    {
      "parameters": {
        "text": "={{ $json.markdown }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice_category",
              "description": "The category of the invoice. Choose one of: office supplies, bills (electricity, water, gas), rent",
              "required": true
            },
            {
              "name": "invoice_number",
              "description": "The invoice number",
              "required": true
            },
            {
              "name": "invoice_biller",
              "description": "The company that issue the invoice",
              "required": true
            },
            {
              "name": "invoice_total_inc",
              "description": "The total paid on the invoice, including tax",
              "required": true
            },
            {
              "name": "invoice_total_ex",
              "description": "The total paid on the invoice, excluding tax",
              "required": true
            },
            {
              "name": "invoice_tax",
              "description": "The tax amount on the invoice",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        1216,
        48
      ],
      "id": "097746f2-667f-4da6-a6d9-4ff04c1cbcd2",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "content": "## New Invoice\nTriggers when a new invoice is added to the folder.\nThe new invoice is downloaded for use in the flow.\nWe select the best extraction process based on document type.",
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -64
      ],
      "id": "3404eca5-2f5f-4436-9773-3c3133509f94",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Extract data from the invoice\nWe use OCR (top route) for PNG\nWe use LlamaParse (bottom route) for PDF, DOCX, TXT",
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -144
      ],
      "id": "0b673dc3-8063-4314-aa1f-6bba7f4bd797",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Clean Up Files\nOnce the invoice has been successfully processed, we then move the file to the processed folder, and wipe it from the unprocessed folder.",
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        -144
      ],
      "id": "fc63a280-3291-42f6-a38b-ec169559e68f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Get all items\nconst rows = $input.all().map(item => item.json);\n\n// Start the summary text\nlet text = `Here is a list of expenses:\\n\\n`;\n\n// Loop through rows and build the summary\nfor (const row of rows) {\n  text += `- Invoice #${row.invoice_number} | $${row.invoice_total_inc} | ${row.invoice_category} | Biller: ${row.invoice_biller}\\n`;\n}\n\n// Return single output with combined summary\nreturn [{ json: { expenseSummary: text } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        816
      ],
      "id": "896f1984-ddca-416c-b945-578a5764234b",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.expenseSummary }}",
        "options": {
          "systemMessage": "You are a financial report assistant.\n\nBelow is a list of business expenses. Please analyze this data and generate a plain text business report using the following structure.\n\nFormat the output with spacing and line breaks only — no Markdown, no bullet points, no symbols like asterisks. Just plain, readable text.\n\n---\n\n1. Executive Summary  \nWrite 2–3 sentences summarizing what the expenses are, any patterns observed, and anything that may require attention.\n\n2. Expense Breakdown  \nGroup expenses by category. For each category, report:\n- Number of expenses\n- Total amount (including tax)\n- Average amount (including tax)\n- Any repeated invoice numbers\n\n3. Vendor Insights  \nList vendors by total spend. Mention:\n- Total spend per vendor\n- Number of occurrences\n- Any suspicious duplicate entries\n\n4. Recommendations  \nProvide 2–3 business recommendations based on your analysis."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        848,
        816
      ],
      "id": "7e92e9dd-122c-438a-bdf1-11fc0c180ec0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Financial Spending Report\nThis agent will generate a report on your financial spending.",
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        640
      ],
      "id": "3eaaefbe-3abd-45da-908a-60a9f835e7ea",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fileExtension }}",
                    "rightValue": "png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36584cf8-8764-4e7a-bb1a-0877c2a78014"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30167564-7a8e-40a1-9009-64be1031fded",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        112,
        128
      ],
      "id": "570fad99-4d1d-44ab-8e01-3056d74c06bf",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLAMA_CLOUD_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        208
      ],
      "id": "2f1754ba-c5bb-41fa-83cd-c5d24385cc51",
      "name": "Upload"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        208
      ],
      "id": "da11115c-15e4-4236-918f-e24a6636c304",
      "name": "Wait",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5fe5fdf8-6137-4466-8e88-acaaebbf94a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1480222-bc5d-4697-b169-5e94a5afa0ed",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        752,
        208
      ],
      "id": "f0e2a88a-35d2-41ab-bdee-e6dc0a86a225",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLAMA_CLOUD_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        208
      ],
      "id": "a8e44b5c-e3d2-4253-a0f0-8cb7d4a884f6",
      "name": "Status"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLAMA_CLOUD_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        208
      ],
      "id": "0e163d5e-2e18-462a-b79a-c45af10e9f48",
      "name": "Get"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Build Markdown from parsed text block\nconst markdownItems = items.map(item => {\n  const text = item.json.text || '';\n  return {\n    json: {\n      markdown: `### Parsed Invoice\\n\\n\\`\\`\\`\\n${text.trim()}\\n\\`\\`\\``\n    }\n  };\n});\n\nreturn markdownItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        48
      ],
      "id": "337b5ae0-da5c-44e1-b1f3-a40622039a6e",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "## Data Processing and Logging\nOnce we have extracted data from the invoice, we run it through a data extractor agent to pull out structured data. \nOnce we have pulled the data, we log it in google sheets.",
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        -144
      ],
      "id": "75658222-8fec-4814-920e-062c9d577205",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        48
      ],
      "id": "fd03d228-3227-4907-ac00-06d8a82087b5",
      "name": "Merge"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "Financial Year Expense Report"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1152,
        816
      ],
      "id": "30bebb0b-f698-4920-be9f-c962eee9d143",
      "name": "Generate",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "lU4qsD64UXVYvGXx",
          "name": "Google Docs account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        816
      ],
      "id": "e1752aa7-d6d6-4293-9697-5763640a367f",
      "name": "Update",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "lU4qsD64UXVYvGXx",
          "name": "Google Docs account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        416,
        816
      ],
      "id": "f974bd8a-3617-499b-8c2a-15137902aefc",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        128
      ],
      "id": "5003554c-0634-4fd0-aa93-a63e0577c164",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOS03K2vJw3lx0uY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1216,
        240
      ],
      "id": "404744eb-c42d-48ba-9e5f-d5996af27e9b",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "BVW9PzvonWrmvF4Q",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15LFEgy9fWS9R9aD2zLNKYNGDzIOSgAXey5BwiogyBiw",
          "mode": "list",
          "cachedResultName": "tax-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15LFEgy9fWS9R9aD2zLNKYNGDzIOSgAXey5BwiogyBiw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15LFEgy9fWS9R9aD2zLNKYNGDzIOSgAXey5BwiogyBiw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_category": "={{ $json.output.invoice_category }}",
            "invoice_biller": "={{ $json.output.invoice_biller }}",
            "invoice_number": "={{ $json.output.invoice_number }}",
            "invoice_total_inc": "={{ $json.output.invoice_total_inc }}",
            "invoice_total_ex": "={{ $json.output.invoice_total_ex }}",
            "invoice_tax": "={{ $json.output.invoice_tax }}",
            "file_name": "={{ $('Google Drive Trigger').item.json.originalFilename }}",
            "file-url": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file-url",
              "displayName": "file-url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_category",
              "displayName": "invoice_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_biller",
              "displayName": "invoice_biller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_total_inc",
              "displayName": "invoice_total_inc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_total_ex",
              "displayName": "invoice_total_ex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_tax",
              "displayName": "invoice_tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1552,
        48
      ],
      "id": "6236a03b-8ce3-43da-86e8-2ab95f07e7ad",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OTroMa1tgjJRdnPP",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1696,
        48
      ],
      "id": "38573c43-77e3-472b-95b9-14d514257517",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOS03K2vJw3lx0uY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "name": "Invoices",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qS6xYeeVDPPUAGs3Pv4xGkcbBwJEOpTm",
          "mode": "list",
          "cachedResultName": "Tax - Processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qS6xYeeVDPPUAGs3Pv4xGkcbBwJEOpTm"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        48
      ],
      "id": "05b76b37-d5ec-4424-954a-c98f568a76f7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOS03K2vJw3lx0uY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2000,
        48
      ],
      "id": "8372dcfd-3a25-4573-84ea-01b4ed28cc6c",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOS03K2vJw3lx0uY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15LFEgy9fWS9R9aD2zLNKYNGDzIOSgAXey5BwiogyBiw",
          "mode": "list",
          "cachedResultName": "tax-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15LFEgy9fWS9R9aD2zLNKYNGDzIOSgAXey5BwiogyBiw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15LFEgy9fWS9R9aD2zLNKYNGDzIOSgAXey5BwiogyBiw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        576,
        816
      ],
      "id": "b8597603-88ec-48ff-9465-ca3f660cc53f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OTroMa1tgjJRdnPP",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        720,
        1024
      ],
      "id": "59bcc08b-0c0a-493c-ae7d-a8f55917290c",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "BVW9PzvonWrmvF4Q",
          "name": "Mistral Cloud account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Tesseract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tesseract": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dce8731b-4c0b-4705-8db2-329e0f9f601d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cac9a7a0a63812e41b1e94b1b69e3ffef7529633b7e9b913fb43b82dc581723"
  },
  "id": "hg8R4jiczEP1Ic9E",
  "tags": []
}
